In [1]:
# Importing necessary libraries
import sqlite3
import pandas as pd
import numpy as np

Establishing a connection to the SQLite database using 'sqlite3' and then creates a cursor object 'cur'.

In [2]:
# Establishing connection to the database 'accident_data_v1.0.0_2023.db'
con = sqlite3.connect('accident_data_v1.0.0_2023.db')

# Cursor object to execute the SQL commands
cur = con.cursor()

### DATA PREPARATION

Retrieve information about the columns in accident, vehicle, casualty, and LSOA tables

#### Accident table

In [3]:
# retrieve information regarding columns in the 'accident' table
col_info = cur.execute(f"PRAGMA table_info(accident)")

# Fetch all rows returned by the PRAGMA query and story it in 'col_info_accident'
col_info_accident = col_info.fetchall()

Extracting the column names of 'accident' table

In [4]:
# Empty list to store the column names of  'accident' table
columns_accident = []

for column in col_info_accident: # Iterate through each row
    columns_accident.append(column[1]) # Append the names of the column to 'columns_accident'

# Column names in the 'accident table'
print(columns_accident)

['accident_index', 'accident_year', 'accident_reference', 'location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude', 'police_force', 'accident_severity', 'number_of_vehicles', 'number_of_casualties', 'date', 'day_of_week', 'time', 'local_authority_district', 'local_authority_ons_district', 'local_authority_highway', 'first_road_class', 'first_road_number', 'road_type', 'speed_limit', 'junction_detail', 'junction_control', 'second_road_class', 'second_road_number', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 'light_conditions', 'weather_conditions', 'road_surface_conditions', 'special_conditions_at_site', 'carriageway_hazards', 'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident', 'trunk_road_flag', 'lsoa_of_accident_location']

Creating a DataFrame of accident data from year 2020 after fetching data with the SQL query.

In [5]:
# SQL query to select the columns from 'accident' table
# Where 'accident_year' equals to 2020
cur.execute('SELECT * FROM accident WHERE accident_year = 2020')

# Fetch all rows and store it in 'data_accident'
data_accident = cur.fetchall()

# Creating a DataFrame from the fetched data
df_accident = pd.DataFrame(data_accident, columns =  columns_accident)

In [6]:
df_accident

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,0,1,1,1,0,0,1,1,-1,-1
91195,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,0,1,1,1,0,0,1,2,-1,-1
91196,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,0,1,1,1,0,0,2,1,-1,-1
91197,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,0,1,1,1,0,0,1,2,-1,-1
91198,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,0,1,1,1,0,2,1,1,-1,-1

#### Vehicle table

In [7]:
# retrieve information regarding columns in the 'vehicle' table
col_info = cur.execute(f"PRAGMA table_info(vehicle)")

# Fetch all rows returned by the PRAGMA query and story it in 'col_info_vehicle'
col_info_vehicle = col_info.fetchall()

Extracting the column names of 'vehicle' table

In [8]:
# Empty list to store the column names of  'vehicle' table
columns_vehicle = []

for column in col_info_vehicle: # Iterate through each row
    columns_vehicle.append(column[1]) # Append the names of the column to 'columns_vehicle'

# Column names in the 'vehicle table'
print(columns_vehicle)

['vehicle_index', 'accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'vehicle_type', 'towing_and_articulation', 'vehicle_manoeuvre', 'vehicle_direction_from', 'vehicle_direction_to', 'vehicle_location_restricted_lane', 'junction_location', 'skidding_and_overturning', 'hit_object_in_carriageway', 'vehicle_leaving_carriageway', 'hit_object_off_carriageway', 'first_point_of_impact', 'vehicle_left_hand_drive', 'journey_purpose_of_driver', 'sex_of_driver', 'age_of_driver', 'age_band_of_driver', 'engine_capacity_cc', 'propulsion_code', 'age_of_vehicle', 'generic_make_model', 'driver_imd_decile', 'driver_home_area_type']

Creating a DataFrame of vehicle data from year 2020 after fetching data with the SQL query.

In [9]:
# SQL query to select the columns from 'vehicle' table
# Where 'accident_year' equals to 2020
cur.execute('SELECT * FROM vehicle WHERE accident_year = 2020')

# Fetch all rows and store it in 'data_vehicle'
data_vehicle = cur.fetchall()

# Creating a DataFrame from the fetched data
df_vehicle = pd.DataFrame(data_vehicle, columns =  columns_vehicle)

In [10]:
df_vehicle

,vehicle_index,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,681716,2020010219808,2020,010219808,1,9,9,5,1,5,...,6,2,32,6,1968,2,6,AUDI Q5,4,1
1,681717,2020010220496,2020,010220496,1,9,0,4,2,6,...,2,1,45,7,1395,1,2,AUDI A1,7,1
2,681718,2020010228005,2020,010228005,1,9,0,18,-1,-1,...,6,3,-1,-1,-1,-1,-1,-1,-1,-1
3,681719,2020010228006,2020,010228006,1,8,0,18,1,5,...,1,1,44,7,1798,8,8,TOYOTA PRIUS,2,1
4,681720,2020010228011,2020,010228011,1,9,0,18,3,7,...,6,1,20,4,2993,2,4,BMW 4 SERIES,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167370,849086,2020991030297,2020,991030297,1,9,0,7,8,2,...,1,1,57,9,1968,2,2,AUDI A5,7,1
167371,849087,2020991030297,2020,991030297,2,5,0,16,6,2,...,5,1,38,7,1301,1,2,KTM 1290 SUPERDUKE,9,2
167372,849088,2020991030900,2020,991030900,1,9,0,7,8,2,...,6,2,68,10,1995,2,1,BMW X3,5,1
167373,849089,2020991030900,2020,991030900,2,1,0,18,6,2,...,6,1,76,11,-1,-1,-1,-1,9,1
167374,849090,2020991032575,2020,991032575,1,9,0,1,8,4,...,6,1,39,7,999,1,2,FORD FOCUS,7,1

#### Casualty table

In [11]:
# retrieve information regarding columns in the 'casualty' table
col_info = cur.execute(f"PRAGMA table_info(casualty)")

# Fetch all rows returned by the PRAGMA query and story it in 'col_info_casualty'
col_info_casualty = col_info.fetchall()

Extracting the column names of 'casualty' table

In [12]:
# Empty list to store the column names of  'casualty' table
columns_casualty = []

for column in col_info_casualty: # Iterate through each row
    columns_casualty.append(column[1]) # Append the names of the column to 'columns_casualty'

# Column names in the 'casualty table'
print(columns_casualty)

['casualty_index', 'accident_index', 'accident_year', 'accident_reference', 'vehicle_reference', 'casualty_reference', 'casualty_class', 'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty', 'casualty_severity', 'pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger', 'pedestrian_road_maintenance_worker', 'casualty_type', 'casualty_home_area_type', 'casualty_imd_decile']

Creating a DataFrame of vehicle data from year 2020 after fetching data with the SQL query.

In [13]:
# SQL query to select the columns from 'casualty' table
# Where 'accident_year' equals to 2020
cur.execute('SELECT * FROM casualty WHERE accident_year = 2020')

# Fetch all rows and store it in 'data_casualty'
data_casualty = cur.fetchall()

# Creating a DataFrame from the fetched data
df_casualty = pd.DataFrame(data_casualty, columns =  columns_casualty)

In [14]:
df_casualty

,casualty_index,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,484748,2020010219808,2020,010219808,1,1,3,1,31,6,3,9,5,0,0,0,0,1,4
1,484749,2020010220496,2020,010220496,1,1,3,2,2,1,3,1,1,0,0,0,0,1,2
2,484750,2020010220496,2020,010220496,1,2,3,2,4,1,3,1,1,0,0,0,0,1,2
3,484751,2020010228005,2020,010228005,1,1,3,1,23,5,3,5,9,0,0,0,0,1,3
4,484752,2020010228006,2020,010228006,1,1,3,1,47,8,2,4,1,0,0,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115579,600327,2020991027064,2020,991027064,2,1,1,1,11,3,2,0,0,0,0,0,1,1,2
115580,600328,2020991029573,2020,991029573,1,1,3,2,63,9,3,10,1,0,0,0,0,1,10
115581,600329,2020991030297,2020,991030297,2,1,1,1,38,7,2,0,0,0,0,0,5,2,9
115582,600330,2020991030900,2020,991030900,2,1,1,1,76,11,3,0,0,0,0,0,1,1,9
115583,600331,2020991032575,2020,991032575,1,1,3,1,48,8,3,9,9,0,0,0,0,1,1

#### LSOA table

In [15]:
# retrieve information regarding columns in the 'lsoa' table
col_info = cur.execute(f"PRAGMA table_info(lsoa)")

# Fetch all rows returned by the PRAGMA query and story it in 'col_info_lsoa'
col_info_lsoa = col_info.fetchall()

Extracting the column names of 'lsoa' table

In [16]:
# Empty list to store the column names of  'lsoa' table
columns_lsoa = []

for column in col_info_lsoa: # Iterate through each row
    columns_lsoa.append(column[1]) # Append the names of the column to 'columns_lsoa'

# Column names in the 'lsoa table'
print(columns_lsoa)

['objectid', 'lsoa01cd', 'lsoa01nm', 'lsoa01nmw', 'shape__area', 'shape__length', 'globalid']

Creating a DataFrame of lsoa data after fetching data with the SQL query.

In [17]:
# SQL query to select the columns from 'lsoa' table
cur.execute('SELECT * FROM lsoa')

# Fetch all rows and store it in 'data_lsoa'
data_lsoa = cur.fetchall()

# Creating a DataFrame from the fetched data
df_lsoa = pd.DataFrame(data_lsoa, columns =  columns_lsoa)

In [18]:
df_lsoa

,objectid,lsoa01cd,lsoa01nm,lsoa01nmw,shape__area,shape__length,globalid
0,1,E01000001,City of London 001A,City of London 001A,1.298652e+05,2635.772001,68cc6127-1008-4fbe-a16c-78fb089a7c43
1,2,E01000002,City of London 001B,City of London 001B,2.284189e+05,2707.986202,937edbc3-c1bf-4d35-b274-b0a1480a7c09
2,3,E01000003,City of London 001C,City of London 001C,5.905477e+04,1224.774479,2686dcaf-10b9-4736-92af-4788d4feaa69
3,4,E01000004,City of London 001D,City of London 001D,2.544551e+06,10718.466240,3c493140-0b3f-4b9a-b358-22011dc5fb89
4,5,E01000005,City of London 001E,City of London 001E,1.895782e+05,2275.809358,b569093d-788d-41be-816c-d6d7658b2311
...,...,...,...,...,...,...,...
34373,34374,W01001892,Cardiff 020D,Caerdydd 020D,2.699088e+05,2537.220060,1a25aa1e-5db5-4d32-8355-473409dbd69f
34374,34375,W01001893,Cardiff 010B,Caerdydd 010B,4.288488e+06,9807.284401,b6af5e24-eb2a-404a-98a6-a282037b3e10
34375,34376,W01001894,Cardiff 010C,Caerdydd 010C,3.337511e+05,2929.546177,72d16f53-115d-4926-936d-2f1b1d659d46
34376,34377,W01001895,Cardiff 010D,Caerdydd 010D,1.360174e+06,8141.281226,8e105eb9-f68e-4cdb-bca6-b49f6592cb71
34377,34378,W01001896,Cardiff 020E,Caerdydd 020E,3.124395e+05,3823.366435,c885f171-a56e-4e2b-8d09-1c7d6efedd67

####  Info of the DataFrames

In [19]:
df_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91199 entries, 0 to 91198
Data columns (total 36 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   accident_index                               91199 non-null  object
 1   accident_year                                91199 non-null  int64
 2   accident_reference                           91199 non-null  object
 3   location_easting_osgr                        91185 non-null  float64
 4   location_northing_osgr                       91185 non-null  float64
 5   longitude                                    91185 non-null  float64
 6   latitude                                     91185 non-null  float64
 7   police_force                                 91199 non-null  int64
 8   accident_severity                            91199 non-null  int64
 9   number_of_vehicles                           91199 non-null  int64
 10  number_of_casualties                         91199 non-null  int64
 11  date                                         91199 non-null  object
 12  day_of_week                                  91199 non-null  int64
 13  time                                         91199 non-null  object
 14  local_authority_district                     91199 non-null  int64
 15  local_authority_ons_district                 91199 non-null  object
 16  local_authority_highway                      91199 non-null  object
 17  first_road_class                             91199 non-null  int64
 18  first_road_number                            91199 non-null  int64
 19  road_type                                    91199 non-null  int64
 20  speed_limit                                  91199 non-null  int64
 21  junction_detail                              91199 non-null  int64
 22  junction_control                             91199 non-null  int64
 23  second_road_class                            91199 non-null  int64
 24  second_road_number                           91199 non-null  int64
 25  pedestrian_crossing_human_control            91199 non-null  int64
 26  pedestrian_crossing_physical_facilities      91199 non-null  int64
 27  light_conditions                             91199 non-null  int64
 28  weather_conditions                           91199 non-null  int64
 29  road_surface_conditions                      91199 non-null  int64
 30  special_conditions_at_site                   91199 non-null  int64
 31  carriageway_hazards                          91199 non-null  int64
 32  urban_or_rural_area                          91199 non-null  int64
 33  did_police_officer_attend_scene_of_accident  91199 non-null  int64
 34  trunk_road_flag                              91199 non-null  int64
 35  lsoa_of_accident_location                    91199 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 25.0+ MB

In [20]:
df_vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167375 entries, 0 to 167374
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   vehicle_index                     167375 non-null  int64
 1   accident_index                    167375 non-null  object
 2   accident_year                     167375 non-null  int64
 3   accident_reference                167375 non-null  object
 4   vehicle_reference                 167375 non-null  int64
 5   vehicle_type                      167375 non-null  int64
 6   towing_and_articulation           167375 non-null  int64
 7   vehicle_manoeuvre                 167375 non-null  int64
 8   vehicle_direction_from            167375 non-null  int64
 9   vehicle_direction_to              167375 non-null  int64
 10  vehicle_location_restricted_lane  167375 non-null  int64
 11  junction_location                 167375 non-null  int64
 12  skidding_and_overturning          167375 non-null  int64
 13  hit_object_in_carriageway         167375 non-null  int64
 14  vehicle_leaving_carriageway       167375 non-null  int64
 15  hit_object_off_carriageway        167375 non-null  int64
 16  first_point_of_impact             167375 non-null  int64
 17  vehicle_left_hand_drive           167375 non-null  int64
 18  journey_purpose_of_driver         167375 non-null  int64
 19  sex_of_driver                     167375 non-null  int64
 20  age_of_driver                     167375 non-null  int64
 21  age_band_of_driver                167375 non-null  int64
 22  engine_capacity_cc                167375 non-null  int64
 23  propulsion_code                   167375 non-null  int64
 24  age_of_vehicle                    167375 non-null  int64
 25  generic_make_model                167375 non-null  object
 26  driver_imd_decile                 167375 non-null  int64
 27  driver_home_area_type             167375 non-null  int64
dtypes: int64(25), object(3)
memory usage: 35.8+ MB

In [21]:
df_casualty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115584 entries, 0 to 115583
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   casualty_index                      115584 non-null  int64
 1   accident_index                      115584 non-null  object
 2   accident_year                       115584 non-null  int64
 3   accident_reference                  115584 non-null  object
 4   vehicle_reference                   115584 non-null  int64
 5   casualty_reference                  115584 non-null  int64
 6   casualty_class                      115584 non-null  int64
 7   sex_of_casualty                     115584 non-null  int64
 8   age_of_casualty                     115584 non-null  int64
 9   age_band_of_casualty                115584 non-null  int64
 10  casualty_severity                   115584 non-null  int64
 11  pedestrian_location                 115584 non-null  int64
 12  pedestrian_movement                 115584 non-null  int64
 13  car_passenger                       115584 non-null  int64
 14  bus_or_coach_passenger              115584 non-null  int64
 15  pedestrian_road_maintenance_worker  115584 non-null  int64
 16  casualty_type                       115584 non-null  int64
 17  casualty_home_area_type             115584 non-null  int64
 18  casualty_imd_decile                 115584 non-null  int64
dtypes: int64(17), object(2)
memory usage: 16.8+ MB

In [22]:
df_lsoa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34378 entries, 0 to 34377
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   objectid       34378 non-null  int64
 1   lsoa01cd       34378 non-null  object
 2   lsoa01nm       34378 non-null  object
 3   lsoa01nmw      34378 non-null  object
 4   shape__area    34378 non-null  float64
 5   shape__length  34378 non-null  float64
 6   globalid       34378 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 1.8+ MB

### DATA CLEANING

#### Checking fo NaN entries

In [23]:
df_accident.isnull().sum()

accident_index                                  0
accident_year                                   0
accident_reference                              0
location_easting_osgr                          14
location_northing_osgr                         14
longitude                                      14
latitude                                       14
police_force                                    0
accident_severity                               0
number_of_vehicles                              0
number_of_casualties                            0
date                                            0
day_of_week                                     0
time                                            0
local_authority_district                        0
local_authority_ons_district                    0
local_authority_highway                         0
first_road_class                                0
first_road_number                               0
road_type                                       0
speed_limit                                     0
junction_detail                                 0
junction_control                                0
second_road_class                               0
second_road_number                              0
pedestrian_crossing_human_control               0
pedestrian_crossing_physical_facilities         0
light_conditions                                0
weather_conditions                              0
road_surface_conditions                         0
special_conditions_at_site                      0
carriageway_hazards                             0
urban_or_rural_area                             0
did_police_officer_attend_scene_of_accident     0
trunk_road_flag                                 0
lsoa_of_accident_location                       0
dtype: int64

In [24]:
df_vehicle.isnull().sum()

vehicle_index                       0
accident_index                      0
accident_year                       0
accident_reference                  0
vehicle_reference                   0
vehicle_type                        0
towing_and_articulation             0
vehicle_manoeuvre                   0
vehicle_direction_from              0
vehicle_direction_to                0
vehicle_location_restricted_lane    0
junction_location                   0
skidding_and_overturning            0
hit_object_in_carriageway           0
vehicle_leaving_carriageway         0
hit_object_off_carriageway          0
first_point_of_impact               0
vehicle_left_hand_drive             0
journey_purpose_of_driver           0
sex_of_driver                       0
age_of_driver                       0
age_band_of_driver                  0
engine_capacity_cc                  0
propulsion_code                     0
age_of_vehicle                      0
generic_make_model                  0
driver_imd_decile                   0
driver_home_area_type               0
dtype: int64

In [25]:
df_casualty.isnull().sum()

casualty_index                        0
accident_index                        0
accident_year                         0
accident_reference                    0
vehicle_reference                     0
casualty_reference                    0
casualty_class                        0
sex_of_casualty                       0
age_of_casualty                       0
age_band_of_casualty                  0
casualty_severity                     0
pedestrian_location                   0
pedestrian_movement                   0
car_passenger                         0
bus_or_coach_passenger                0
pedestrian_road_maintenance_worker    0
casualty_type                         0
casualty_home_area_type               0
casualty_imd_decile                   0
dtype: int64

In [26]:
df_lsoa.isnull().sum()

objectid         0
lsoa01cd         0
lsoa01nm         0
lsoa01nmw        0
shape__area      0
shape__length    0
globalid         0
dtype: int64

In [27]:
# Column names that cotain nan values
columns_nan = df_accident.columns[df_accident.isna().any()].tolist()

columns_nan

['location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude']

'location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude' columns in the df_accident DatFrame contain NaN values. These values are filled by considering the corresponding police station.

In [28]:
# Creating a new DataFrame 'df_nan' with rowns from 'df' having nan values
df_nan = df_accident[df_accident[columns_nan].isna().any(axis=1)].copy()

In [29]:
df_nan

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
25520,2020052002442,2020,052002442,NaN,NaN,NaN,NaN,5,2,2,...,0,1,1,1,0,0,3,1,2,-1
29452,2020070769852,2020,070769852,NaN,NaN,NaN,NaN,7,3,2,...,0,1,1,1,0,0,3,1,2,-1
32689,2020122001194,2020,122001194,NaN,NaN,NaN,NaN,12,3,2,...,0,1,2,2,0,0,3,1,2,-1
33578,2020137330369,2020,137330369,NaN,NaN,NaN,NaN,13,3,2,...,0,1,1,1,0,0,3,1,1,-1
81252,2020522005114,2020,522005114,NaN,NaN,NaN,NaN,52,3,3,...,0,7,1,1,0,0,3,1,2,-1
86437,2020622001016,2020,622001016,NaN,NaN,NaN,NaN,62,3,2,...,5,4,1,1,0,0,3,1,-1,-1
86642,202063A017520,2020,63A017520,NaN,NaN,NaN,NaN,63,3,2,...,0,1,9,-1,0,0,3,2,-1,-1
86651,202063A018920,2020,63A018920,NaN,NaN,NaN,NaN,63,3,2,...,0,1,9,1,0,0,3,2,-1,-1
86668,202063A025020,2020,63A025020,NaN,NaN,NaN,NaN,63,3,2,...,0,1,2,2,0,0,3,2,-1,-1
86705,202063A035620,2020,63A035620,NaN,NaN,NaN,NaN,63,3,1,...,0,1,1,1,0,0,3,2,-1,-1
86785,202063A059120,2020,63A059120,NaN,NaN,NaN,NaN,63,3,2,...,0,1,1,1,0,0,3,2,-1,-1
87018,202063C020320,2020,63C020320,NaN,NaN,NaN,NaN,63,3,2,...,0,7,1,1,0,0,3,2,-1,-1
87030,202063C024520,2020,63C024520,NaN,NaN,NaN,NaN,63,2,2,...,0,1,1,1,0,0,3,2,-1,-1
87296,202063D061520,2020,63D061520,NaN,NaN,NaN,NaN,63,3,1,...,0,6,4,1,0,0,3,1,-1,-1

In [30]:
# Unique entries corresponding to 'police_force' in df_nan
df_nan['police_force'].unique()

array([ 5,  7, 12, 13, 52, 62, 63], dtype=int64)

police_force == 5

In [31]:
df_accident.loc[df_accident['police_force'] == 5]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
24015,2020050080223,2020,050080223,352108.0,390290.0,-2.721876,53.407256,5,3,2,...,0,1,1,1,0,0,2,1,1,E01006898
24016,2020050116655,2020,050116655,332853.0,380487.0,-3.009391,53.317052,5,3,1,...,0,1,2,5,0,0,2,1,1,E01007148
24017,2020050178976,2020,050178976,349644.0,387676.0,-2.758520,53.383532,5,3,2,...,0,1,1,1,0,0,1,2,2,E01006503
24018,2020050702981,2020,050702981,350529.0,389736.0,-2.745539,53.402131,5,2,2,...,5,1,1,1,0,0,2,1,2,E01006889
24019,2020052000009,2020,052000009,338567.0,389668.0,-2.925419,53.400261,5,3,2,...,0,4,1,2,0,0,1,2,2,E01006727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25727,2020052100239,2020,052100239,341498.0,389591.0,-2.881328,53.399902,5,3,2,...,0,4,1,1,0,0,1,1,2,E01006580
25728,2020052100264,2020,052100264,346697.0,385050.0,-2.802377,53.359641,5,3,1,...,0,6,2,2,0,0,2,1,2,E01006420
25729,2020052100339,2020,052100339,361039.0,394272.0,-2.588035,53.443784,5,3,8,...,0,1,2,2,0,0,2,1,1,E01006859
25730,2020052100525,2020,052100525,341829.0,396843.0,-2.877692,53.465116,5,2,2,...,0,1,1,1,0,0,2,2,2,E01006418
25731,2020052100632,2020,052100632,337872.0,392289.0,-2.936387,53.423736,5,2,2,...,4,5,2,2,0,0,1,1,2,E01006761

Police station corresponds to 'police_force = 5' is the St Helens Police Station, College St, Saint Helens WA10 1TG.

##### latitude = 53.4560, longitude = -2.7374
##### location_easting_osgr = 351132, location_northing_osgr = 395725

In [32]:
# Fill NaN values where 'police_force' is equal to 5
temp = df_accident.loc[df_accident['police_force'] == 5, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 53.4560, 'longitude': -2.7374, 'location_easting_osgr': 351132 , 'location_northing_osgr' : 395725})

# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 5, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

police_force == 7

In [33]:
df_accident.loc[df_accident['police_force'] == 7]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
28131,2020070000084,2020,070000084,361500.0,382001.0,-2.579593,53.333524,7,3,2,...,0,1,8,4,0,0,2,1,1,E01012503
28132,2020070000151,2020,070000151,358084.0,381447.0,-2.630813,53.328284,7,3,2,...,0,1,8,4,0,0,2,1,1,E01012385
28133,2020070000527,2020,070000527,338949.0,367014.0,-2.915311,53.196701,7,3,1,...,0,1,1,2,0,0,1,1,2,E01018330
28134,2020070000817,2020,070000817,350258.0,368107.0,-2.746216,53.207704,7,3,3,...,0,4,1,2,0,0,2,1,2,E01018349
28135,2020070003360,2020,070003360,362422.0,389039.0,-2.566589,53.396850,7,3,2,...,0,4,1,1,0,0,1,2,2,E01012478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29489,2020070790839,2020,070790839,362221.0,395655.0,-2.570407,53.456300,7,3,1,...,0,1,1,4,0,0,2,1,2,E01012472
29490,2020070791949,2020,070791949,368399.0,384863.0,-2.476286,53.359707,7,3,2,...,0,7,1,1,0,2,2,2,1,E01018598
29491,2020071025753,2020,071025753,377769.0,352504.0,-2.333234,53.069322,7,3,2,...,0,7,2,-1,0,0,2,2,1,E01018465
29492,2020072000182,2020,072000182,362608.0,392804.0,-2.564240,53.430704,7,3,3,...,0,4,1,2,0,0,2,1,1,E01012472
29493,2020072000994,2020,072000994,350930.0,382745.0,-2.738422,53.339334,7,3,4,...,0,5,1,1,0,0,1,1,2,E01012431

Police station corresponds to 'police_force = 7' is the Stockton Heath Police Station, Grappenhall Rd, Stockton Heath, Warrington WA4 2AF

##### latitude = 53.3708, longitude = -2.5808
##### location_easting_osgr = 361453, location_northing_osgr = 386150

In [34]:
# Fill NaN values where 'police_force' is equal to 7
temp = df_accident.loc[df_accident['police_force'] == 7, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 53.3708, 'longitude': -2.5808, 'location_easting_osgr': 361453 , 'location_northing_osgr' : 386150})


# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 7, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

police_force == 12

In [35]:
df_accident.loc[df_accident['police_force'] == 12]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
31785,2020122000007,2020,122000007,406997.0,455544.0,-1.894764,53.995901,12,1,1,...,0,1,1,2,0,0,2,1,2,E01027557
31786,2020122000014,2020,122000014,502775.0,487949.0,-0.423111,54.276881,12,1,1,...,0,4,1,1,0,0,1,1,2,E01027824
31787,2020122000059,2020,122000059,478864.0,468738.0,-0.795254,54.108505,12,3,2,...,0,1,1,1,0,0,2,2,2,E01027790
31788,2020122000081,2020,122000081,467504.0,481050.0,-0.966222,54.220752,12,3,2,...,0,6,1,2,0,0,2,1,2,E01027800
31789,2020122000092,2020,122000092,458109.0,448417.0,-1.116533,53.928648,12,3,2,...,0,4,1,1,0,0,2,2,2,E01013355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32960,2020122100301,2020,122100301,398644.0,452181.0,-2.022161,53.965720,12,2,1,...,0,1,1,1,0,0,1,1,2,E01027576
32961,2020122100311,2020,122100311,456051.0,447855.0,-1.147973,53.923824,12,3,3,...,0,1,2,2,0,0,2,1,2,E01013421
32962,2020122100317,2020,122100317,453707.0,444756.0,-1.184204,53.896222,12,3,1,...,0,1,5,5,0,2,2,1,2,E01027875
32963,2020122100324,2020,122100324,439598.0,489290.0,-1.393084,54.297710,12,3,2,...,0,1,8,2,0,0,2,1,2,E01027633
32964,2020122100328,2020,122100328,438474.0,466133.0,-1.413304,54.089689,12,3,1,...,0,1,1,1,0,0,2,2,2,E01027688

Police station corresponds to 'police_force = 12' is the Skipton Police Station, Police Station, Otley Rd, Skipton BD23 1EZ

##### latitude = 53.9615, longitude = -2.0111
##### location_easting_osgr = 399369, location_northing_osgr = 451713

In [36]:
# Fill NaN values where 'police_force' is equal to 12
temp = df_accident.loc[df_accident['police_force'] == 12, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 53.9615, 'longitude': -2.0111, 'location_easting_osgr': 399369 , 'location_northing_osgr' : 451713})


# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 12, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

police_force == 13

In [37]:
df_accident.loc[df_accident['police_force'] == 13]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
32965,2020132000911,2020,132000911,443315.0,438980.0,-1.343144,53.845281,13,3,2,...,0,1,1,1,0,0,2,1,1,E01011309
32966,2020132001137,2020,132001137,446361.0,430896.0,-1.298065,53.772365,13,2,2,...,0,1,1,1,0,0,2,1,2,E01011299
32967,2020132100135,2020,132100135,446816.0,430094.0,-1.291284,53.765117,13,3,3,...,0,6,1,2,0,0,2,1,2,E01011299
32968,2020136BE1421,2020,136BE1421,424403.0,438910.0,-1.630583,53.845878,13,3,1,...,0,4,1,2,0,0,1,1,2,E01011459
32969,2020137110317,2020,137110317,414443.0,417792.0,-1.782941,53.656440,13,3,1,...,0,4,1,1,0,0,1,2,2,E01011045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35724,2020137CV0566,2020,137CV0566,414915.0,422895.0,-1.775557,53.702293,13,3,2,...,0,1,1,1,0,0,1,1,2,E01010878
35725,2020137CV0707,2020,137CV0707,422748.0,423113.0,-1.656895,53.703972,13,3,2,...,0,1,1,2,0,0,1,2,2,E01011037
35726,2020137CV0938,2020,137CV0938,430913.0,438938.0,-1.531638,53.845785,13,3,2,...,0,1,1,2,0,0,1,1,2,E01011512
35727,2020137CV1840,2020,137CV1840,415316.0,431211.0,-1.769075,53.777025,13,3,1,...,1,4,2,2,0,0,1,1,2,E01010739
35728,20201381B0899,2020,1381B0899,429102.0,439851.0,-1.559077,53.854095,13,2,1,...,0,4,1,1,0,0,1,2,2,E01011567

Police station corresponds to 'police_force = 13' is the Garforth Police Station, Lidgett Ln, Garforth LS25 1LJ

##### latitude = 53.7896, longitude = -1.3900
##### location_easting_osgr = 440285, location_northing_osgr = 432759

In [38]:
# Fill NaN values where 'police_force' is equal to 13
temp = df_accident.loc[df_accident['police_force'] == 13, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 53.7896, 'longitude': -1.3900, 'location_easting_osgr': 440285 , 'location_northing_osgr' : 432759})


# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 13, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

police_force == 52

In [39]:
df_accident.loc[df_accident['police_force'] == 52]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
79631,2020520000043,2020,520000043,320710.0,132889.0,-3.133533,51.089807,52,3,2,...,0,1,1,1,0,0,2,2,2,E01029125
79632,2020520000140,2020,520000140,350887.0,139782.0,-2.703630,51.155167,52,3,2,...,0,4,1,2,0,0,2,2,2,E01032627
79633,2020520000145,2020,520000145,348230.0,136573.0,-2.741157,51.126079,52,3,1,...,0,1,4,1,0,0,1,2,2,E01029070
79634,2020520000150,2020,520000150,337746.0,146621.0,-2.892698,51.215375,52,3,2,...,0,1,1,2,0,0,2,1,2,E01029149
79635,2020520000242,2020,520000242,331228.0,139227.0,-2.984586,51.148149,52,3,2,...,0,7,9,2,0,0,2,2,2,E01029090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81670,2020522102113,2020,522102113,367429.0,154005.0,-2.468407,51.284240,52,3,2,...,0,1,1,1,0,0,1,2,2,E01014470
81671,2020522102250,2020,522102250,373257.0,164773.0,-2.385654,51.381367,52,3,2,...,0,1,1,1,0,0,1,1,2,E01014474
81672,2020522102312,2020,522102312,360926.0,174731.0,-2.563933,51.470185,52,3,1,...,5,1,2,2,0,0,1,1,2,E01014569
81673,2020522102332,2020,522102332,332471.0,158419.0,-2.970441,51.320846,52,3,1,...,0,7,9,1,0,0,2,1,2,E01014803
81674,2020522102935,2020,522102935,371402.0,182621.0,-2.413756,51.541755,52,3,1,...,1,7,9,1,0,0,1,2,2,E01015017

Police station corresponds to 'police_force = 52' is the Williton Police station,  Williton, Taunton TA4 4QN

##### latitude = 51.1614, longitude = -3.3195
##### location_easting_osgr = 307828, location_northing_osgr = 141067

In [40]:
# Fill NaN values where 'police_force' is equal to 52
temp = df_accident.loc[df_accident['police_force'] == 52, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 51.1614, 'longitude': -3.3195, 'location_easting_osgr': 307828 , 'location_northing_osgr' : 141067})


# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 52, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

police_force == 62

In [41]:
df_accident.loc[df_accident['police_force'] == 62]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
85634,2020622000078,2020,622000078,301977.0,201964.0,-3.420040,51.707825,62,3,3,...,0,1,1,2,0,0,1,1,-1,W01001170
85635,2020622000079,2020,622000079,304697.0,206477.0,-3.381924,51.748859,62,3,1,...,5,1,1,1,0,0,1,1,-1,W01001307
85636,2020622000080,2020,622000080,322739.0,178483.0,-3.114449,51.499984,62,3,2,...,0,1,1,1,1,0,1,1,-1,W01001865
85637,2020622000081,2020,622000081,317557.0,176511.0,-3.188626,51.481523,62,3,3,...,5,1,1,1,0,0,1,1,-1,W01001862
85638,2020622000082,2020,622000082,317723.0,175019.0,-3.185888,51.468135,62,3,4,...,0,4,1,1,0,0,1,1,-1,W01001768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86587,2020622100168,2020,622100168,317105.0,179032.0,-3.195726,51.504120,62,3,2,...,0,4,1,1,0,0,1,1,-1,W01001757
86588,2020622100175,2020,622100175,317917.0,176433.0,-3.183424,51.480874,62,3,1,...,5,1,1,1,0,0,1,1,-1,W01001939
86589,2020622100189,2020,622100189,254982.0,195850.0,-4.097229,51.642704,62,2,2,...,0,1,1,1,0,0,2,1,-1,W01000829
86590,2020622100193,2020,622100193,299814.0,182639.0,-3.445802,51.533739,62,2,2,...,0,4,1,1,0,0,2,1,-1,W01001190
86591,2020622100353,2020,622100353,318854.0,177490.0,-3.170177,51.490512,62,3,2,...,7,1,1,2,0,0,1,1,-1,W01001829

Police station corresponds to 'police_force = 62' is the Aberdare Police Station, 18 Cross St, Aberdare CF44 7EG

##### latitude = 51.7120, longitude = -3.4436
##### location_easting_osgr = 300358, location_northing_osgr = 202461

In [42]:
# Fill NaN values where 'police_force' is equal to 62
temp = df_accident.loc[df_accident['police_force'] == 62, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 51.7120, 'longitude': -3.4436, 'location_easting_osgr': 300358 , 'location_northing_osgr' : 202461})


# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 62, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

police_force == 63

In [43]:
df_accident.loc[df_accident['police_force'] == 63]

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
86592,2020632000892,2020,632000892,284537.0,211380.0,-3.675463,51.789128,63,3,2,...,0,1,1,1,0,0,2,1,-1,W01000496
86593,2020632001002,2020,632001002,290308.0,207467.0,-3.590589,51.755121,63,3,1,...,0,1,1,2,0,0,2,1,-1,W01000496
86594,202063A000320,2020,63A000320,262830.0,221570.0,-3.994042,51.875788,63,3,1,...,0,4,1,1,0,0,2,1,-1,W01000677
86595,202063A001220,2020,63A001220,252080.0,243420.0,-4.159508,52.069351,63,2,1,...,0,1,1,1,0,0,2,1,-1,W01000702
86596,202063A001321,2020,63A001321,251510.0,202390.0,-4.150151,51.700560,63,3,2,...,0,1,1,1,0,0,2,1,-1,W01000655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87358,202063D087420,2020,63D087420,324240.0,306420.0,-3.121276,52.650214,63,2,1,...,0,1,1,2,0,0,2,1,-1,W01000441
87359,202063DF01120,2020,63DF01120,325360.0,319840.0,-3.107776,52.770987,63,1,1,...,0,1,1,1,0,0,2,1,-1,W01000458
87360,202063DF01220,2020,63DF01220,322000.0,243260.0,-3.139679,52.082186,63,1,6,...,0,1,1,1,0,0,2,1,-1,W01000443
87361,202063DF01520,2020,63DF01520,297230.0,220710.0,-3.494276,51.875464,63,1,1,...,0,6,1,1,0,0,2,1,-1,W01001897
87362,202063DF01620,2020,63DF01620,324280.0,259980.0,-3.110141,52.232798,63,1,4,...,0,6,1,2,0,2,2,1,-1,W01000484

Police station corresponds to 'police_force = 63' is the Seven Sisters Police Office, 8 Teras Brynhyfryd, Seven Sisters, Neath SA10 9BA

##### latitude = 51.76734, longitude = -3.70949
##### location_easting_osgr = 282133, location_northing_osgr = 209012

In [44]:
# Fill NaN values where 'police_force' is equal to 63
temp = df_accident.loc[df_accident['police_force'] == 63, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']].fillna({'latitude': 51.76734, 'longitude': -3.70949, 'location_easting_osgr': 282133 , 'location_northing_osgr' : 209012})


# Applying the changes to the DataFrame
df_accident.loc[df_accident['police_force'] == 63, ['latitude', 'longitude', 'location_easting_osgr', 'location_northing_osgr']] = temp

Checking for 'location_easting_osgr', 'location_northing_osgr', 'longitude', 'latitude'.

In [45]:
df_accident.isnull().sum()

accident_index                                 0
accident_year                                  0
accident_reference                             0
location_easting_osgr                          0
location_northing_osgr                         0
longitude                                      0
latitude                                       0
police_force                                   0
accident_severity                              0
number_of_vehicles                             0
number_of_casualties                           0
date                                           0
day_of_week                                    0
time                                           0
local_authority_district                       0
local_authority_ons_district                   0
local_authority_highway                        0
first_road_class                               0
first_road_number                              0
road_type                                      0
speed_limit                                    0
junction_detail                                0
junction_control                               0
second_road_class                              0
second_road_number                             0
pedestrian_crossing_human_control              0
pedestrian_crossing_physical_facilities        0
light_conditions                               0
weather_conditions                             0
road_surface_conditions                        0
special_conditions_at_site                     0
carriageway_hazards                            0
urban_or_rural_area                            0
did_police_officer_attend_scene_of_accident    0
trunk_road_flag                                0
lsoa_of_accident_location                      0
dtype: int64

#### Negative values in some important features.

Accident DataFrame

In [46]:
# Selecting the specific columns
columns = ['road_type', 'speed_limit', 'junction_control', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 'light_conditions', 'weather_conditions', 'road_surface_conditions', 'urban_or_rural_area']

# Creating a 'df_temp_accident' DataFrame
df_temp_accident = df_accident[columns]

In [47]:
df_temp_accident

,road_type,speed_limit,junction_control,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,urban_or_rural_area
0,6,20,-1,9,9,1,9,9,1
1,6,20,2,0,4,1,1,1,1
2,6,30,1,0,0,4,1,2,1
3,6,30,-1,0,4,4,1,1,1
4,6,30,4,0,0,4,1,1,1
...,...,...,...,...,...,...,...,...,...
91194,6,30,4,0,0,1,1,1,1
91195,9,30,4,0,0,1,1,1,1
91196,6,60,-1,0,0,1,1,1,2
91197,6,30,4,0,0,1,1,1,1
91198,6,30,-1,0,0,1,1,1,1

In [48]:
# Empty list to store the results
negative_list = []

for column in df_temp_accident.columns:
    # total number of negatuve values
    negative = (df_temp_accident[column]<0).sum()
    
    # total number of elements
    elements = df_temp_accident[column].size
    
    # calculating the percentage
    negative_percentage = (negative/elements)*100
    
    # appending the results to 'negative_list'
    negative_list.append({'Feature': column, 'Negative Values(%)': negative_percentage})

Vehicle DataFrame

In [49]:
# Selecting the specific columns
columns = ['vehicle_type','sex_of_driver', 'age_of_driver', 'engine_capacity_cc', 'age_of_vehicle']

# Creating a 'df_temp_vehicle' DataFrame
df_temp_vehicle = df_vehicle[columns]

In [50]:
df_temp_vehicle

,vehicle_type,sex_of_driver,age_of_driver,engine_capacity_cc,age_of_vehicle
0,9,2,32,1968,6
1,9,1,45,1395,2
2,9,3,-1,-1,-1
3,8,1,44,1798,8
4,9,1,20,2993,4
...,...,...,...,...,...
167370,9,1,57,1968,2
167371,5,1,38,1301,2
167372,9,2,68,1995,1
167373,1,1,76,-1,-1
167374,9,1,39,999,2

In [51]:
for column in df_temp_vehicle.columns:
    # total number of negatuve values
    negative = (df_temp_vehicle[column]<0).sum()
    
    # total number of elements
    elements = df_temp_vehicle[column].size
    
    # calculating the percentage
    negative_percentage = (negative/elements)*100
    
    # appending the results to 'negative_list'
    negative_list.append({'Feature': column, 'Negative Values(%)': negative_percentage})

Casualty DataFrame|

In [52]:
# Selecting the specific columns
columns = ['casualty_class','sex_of_casualty', 'age_of_casualty', 'pedestrian_location', 'pedestrian_movement']

# Creating a 'df_temp_casualty' DataFrame
df_temp_casualty = df_casualty[columns]

In [53]:
df_temp_casualty

,casualty_class,sex_of_casualty,age_of_casualty,pedestrian_location,pedestrian_movement
0,3,1,31,9,5
1,3,2,2,1,1
2,3,2,4,1,1
3,3,1,23,5,9
4,3,1,47,4,1
...,...,...,...,...,...
115579,1,1,11,0,0
115580,3,2,63,10,1
115581,1,1,38,0,0
115582,1,1,76,0,0
115583,3,1,48,9,9

In [54]:
for column in df_temp_casualty.columns:
    # total number of negatuve values
    negative = (df_temp_casualty[column]<0).sum()
    
    # total number of elements
    elements = df_temp_casualty[column].size
    
    # calculating the percentage
    negative_percentage = (negative/elements)*100
    
    # appending the results to 'negative_list'
    negative_list.append({'Feature': column, 'Negative Values(%)': negative_percentage})

In [55]:
df_negative = pd.DataFrame(negative_list)

In [56]:
df_negative

                                    Feature  Negative Values(%)
0                                 road_type            0.000000
1                               speed_limit            0.013158
2                          junction_control           41.993882
3         pedestrian_crossing_human_control            0.156800
4   pedestrian_crossing_physical_facilities            0.148028
5                          light_conditions            0.001097
6                        weather_conditions            0.001097
7                   road_surface_conditions            0.346495
8                       urban_or_rural_area            0.000000
9                              vehicle_type            0.000000
10                            sex_of_driver            0.007767
11                            age_of_driver           13.947125
12                       engine_capacity_cc           26.051083
13                           age_of_vehicle           25.733831
14                           casualty_class            0.000000
15                          sex_of_casualty            0.654070
16                          age_of_casualty            2.146491
17                      pedestrian_location            0.001730
18                      pedestrian_movement            0.001730

The numerical features with negative values are replaced by avaerage replacement method. And the negative values with categorical features are replaced by mode.

numerical features = ['speed_limit', 'age_of_driver', 'engine_capacity_cc', 'age_of_vehicle', 'age_of_casualty']

categorical features = ['junction_control', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities',
             'light_conditions', 'weather_conditions', 'road_surface_conditions', 'urban_or_rural_area', 'vehicle_type',
             'sex_of_driver', 'casualty_class','sex_of_casualty', 'pedestrian_location', 'pedestrian_movement']

##### Numerical Features

In [57]:
# speed_limit
# Calculating the average in the 'speed_limit' column
average = df_accident.loc[df_accident['speed_limit']>=0, 'speed_limit'].mean()


for i,value in df_accident['speed_limit'].items():
    if value<0:# Checking if the value is negative
        df_accident.at[i, 'speed_limit'] = average # Replacing the negative value with the averaege

In [58]:
df_accident['speed_limit'] = df_accident['speed_limit'].astype(np.int64)

In [59]:
# age_of_driver, engine_capacity_cc, age_of_vehicle, age_of_casualty
col = [ 'age_of_driver', 'engine_capacity_cc', 'age_of_vehicle']

for column in col:
    # Calculating the average 
    average = df_vehicle.loc[df_vehicle[column]>=0,column].mean()
    
    for i,value in df_vehicle[column].items():
        if value<0:# Checking if the value is negative
            df_vehicle.at[i, column] = average # Replacing the negative value with the averaege

In [60]:
# age_of_casulty
# Calculating the average 
average = df_casualty.loc[df_casualty['age_of_casualty']>=0, 'age_of_casualty'].mean()


for i,value in df_casualty['age_of_casualty'].items():
    if value<0:# Checking if the value is negative
        df_casualty.at[i, 'age_of_casualty'] = average # Replacing the negative value with the averaege

##### Categorical Features

In [61]:
#Column names
col = ['junction_control', 'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 
       'light_conditions', 'weather_conditions', 'road_surface_conditions', 'urban_or_rural_area']

for column in col:
    # Calculating the mode
    mode = df_accident[column].mode()[0]
    
    for i,value in df_accident[column].items():
        if value<0: # Checking if the value is negative
            df_accident.at[i, column] = mode # Replacing the negative value with mode.

In [62]:
#Column names
col = ['vehicle_type', 'sex_of_driver']

for column in col:
    # Calculating the mode
    mode = df_vehicle[column].mode()[0]
    
    for i,value in df_vehicle[column].items():
        if value<0: # Checking if the value is negative
            df_vehicle.at[i, column] = mode # Replacing the negative value with mode.

In [63]:
#Column names
col = ['casualty_class','sex_of_casualty','pedestrian_location', 'pedestrian_movement']

for column in col:
    # Calculating the mode
    mode = df_casualty[column].mode()[0]
    
    for i,value in df_casualty[column].items():
        if value<0: # Checking if the value is negative
            df_casualty.at[i, column] = mode # Replacing the negative value with mode.

#### Age of Driver

In [64]:
# Minimum age of the driver
df_vehicle['age_of_driver'].min()

3.0

In [65]:
# Maximum age of the driver
df_vehicle['age_of_driver'].max()

100.0

The legal age for driving in UK is 17 or above. Thus, median age between 17 and 100 was used to replace the values.

In [66]:
# Calculating the median
median = df_vehicle.loc[(df_vehicle['age_of_driver'] >= 17) & (df_vehicle['age_of_driver'] <= 100), 'age_of_driver'].median()

# Replacing ages with median
df_vehicle.loc[df_vehicle['age_of_driver'] < 17, 'age_of_driver'] = median

In [67]:
df_vehicle['age_of_driver'].min()

17.0

In [68]:
df_vehicle['age_of_driver'] = df_vehicle['age_of_driver'].astype(np.int64)

In [69]:
df_casualty['age_of_casualty'] = df_casualty['age_of_casualty'].astype(np.int64)

In [70]:
df_vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167375 entries, 0 to 167374
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   vehicle_index                     167375 non-null  int64
 1   accident_index                    167375 non-null  object
 2   accident_year                     167375 non-null  int64
 3   accident_reference                167375 non-null  object
 4   vehicle_reference                 167375 non-null  int64
 5   vehicle_type                      167375 non-null  int64
 6   towing_and_articulation           167375 non-null  int64
 7   vehicle_manoeuvre                 167375 non-null  int64
 8   vehicle_direction_from            167375 non-null  int64
 9   vehicle_direction_to              167375 non-null  int64
 10  vehicle_location_restricted_lane  167375 non-null  int64
 11  junction_location                 167375 non-null  int64
 12  skidding_and_overturning          167375 non-null  int64
 13  hit_object_in_carriageway         167375 non-null  int64
 14  vehicle_leaving_carriageway       167375 non-null  int64
 15  hit_object_off_carriageway        167375 non-null  int64
 16  first_point_of_impact             167375 non-null  int64
 17  vehicle_left_hand_drive           167375 non-null  int64
 18  journey_purpose_of_driver         167375 non-null  int64
 19  sex_of_driver                     167375 non-null  int64
 20  age_of_driver                     167375 non-null  int64
 21  age_band_of_driver                167375 non-null  int64
 22  engine_capacity_cc                167375 non-null  float64
 23  propulsion_code                   167375 non-null  int64
 24  age_of_vehicle                    167375 non-null  float64
 25  generic_make_model                167375 non-null  object
 26  driver_imd_decile                 167375 non-null  int64
 27  driver_home_area_type             167375 non-null  int64
dtypes: float64(2), int64(23), object(3)
memory usage: 35.8+ MB

In [71]:
df_casualty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115584 entries, 0 to 115583
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   casualty_index                      115584 non-null  int64
 1   accident_index                      115584 non-null  object
 2   accident_year                       115584 non-null  int64
 3   accident_reference                  115584 non-null  object
 4   vehicle_reference                   115584 non-null  int64
 5   casualty_reference                  115584 non-null  int64
 6   casualty_class                      115584 non-null  int64
 7   sex_of_casualty                     115584 non-null  int64
 8   age_of_casualty                     115584 non-null  int64
 9   age_band_of_casualty                115584 non-null  int64
 10  casualty_severity                   115584 non-null  int64
 11  pedestrian_location                 115584 non-null  int64
 12  pedestrian_movement                 115584 non-null  int64
 13  car_passenger                       115584 non-null  int64
 14  bus_or_coach_passenger              115584 non-null  int64
 15  pedestrian_road_maintenance_worker  115584 non-null  int64
 16  casualty_type                       115584 non-null  int64
 17  casualty_home_area_type             115584 non-null  int64
 18  casualty_imd_decile                 115584 non-null  int64
dtypes: int64(17), object(2)
memory usage: 16.8+ MB

#### DateTime format

In [72]:
df_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91199 entries, 0 to 91198
Data columns (total 36 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   accident_index                               91199 non-null  object
 1   accident_year                                91199 non-null  int64
 2   accident_reference                           91199 non-null  object
 3   location_easting_osgr                        91199 non-null  float64
 4   location_northing_osgr                       91199 non-null  float64
 5   longitude                                    91199 non-null  float64
 6   latitude                                     91199 non-null  float64
 7   police_force                                 91199 non-null  int64
 8   accident_severity                            91199 non-null  int64
 9   number_of_vehicles                           91199 non-null  int64
 10  number_of_casualties                         91199 non-null  int64
 11  date                                         91199 non-null  object
 12  day_of_week                                  91199 non-null  int64
 13  time                                         91199 non-null  object
 14  local_authority_district                     91199 non-null  int64
 15  local_authority_ons_district                 91199 non-null  object
 16  local_authority_highway                      91199 non-null  object
 17  first_road_class                             91199 non-null  int64
 18  first_road_number                            91199 non-null  int64
 19  road_type                                    91199 non-null  int64
 20  speed_limit                                  91199 non-null  int64
 21  junction_detail                              91199 non-null  int64
 22  junction_control                             91199 non-null  int64
 23  second_road_class                            91199 non-null  int64
 24  second_road_number                           91199 non-null  int64
 25  pedestrian_crossing_human_control            91199 non-null  int64
 26  pedestrian_crossing_physical_facilities      91199 non-null  int64
 27  light_conditions                             91199 non-null  int64
 28  weather_conditions                           91199 non-null  int64
 29  road_surface_conditions                      91199 non-null  int64
 30  special_conditions_at_site                   91199 non-null  int64
 31  carriageway_hazards                          91199 non-null  int64
 32  urban_or_rural_area                          91199 non-null  int64
 33  did_police_officer_attend_scene_of_accident  91199 non-null  int64
 34  trunk_road_flag                              91199 non-null  int64
 35  lsoa_of_accident_location                    91199 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 25.0+ MB

In [73]:
df_accident['date']

0        04/02/2020
1        27/04/2020
2        01/01/2020
3        01/01/2020
4        01/01/2020
            ...
91194    12/08/2020
91195    13/11/2020
91196    15/04/2020
91197    15/12/2020
91198    25/08/2020
Name: date, Length: 91199, dtype: object

In [74]:
# Converting the 'date' column into DateTime format
df_accident['date'] = pd.to_datetime(df_accident['date'])

C:\Users\binto\AppData\Local\Temp\ipykernel_12484\832104297.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_accident['date'] = pd.to_datetime(df_accident['date'])

In [75]:
df_accident['date']

0       2020-04-02
1       2020-04-27
2       2020-01-01
3       2020-01-01
4       2020-01-01
           ...
91194   2020-12-08
91195   2020-11-13
91196   2020-04-15
91197   2020-12-15
91198   2020-08-25
Name: date, Length: 91199, dtype: datetime64[ns]

In [76]:
df_accident['time']

0        09:00
1        13:55
2        01:25
3        01:50
4        02:25
         ...
91194    14:30
91195    15:05
91196    12:42
91197    14:00
91198    13:50
Name: time, Length: 91199, dtype: object

#### Transforming the 'time' column of 'df_accident' into hours and minutes

In [77]:
# Split the 'time' column into hours and minutes with ':' as the separator 
# 'expand=True' is used to each element in separate columns
df_accident[['hours', 'minutes']] = df_accident['time'].str.split(':', expand=True)

# Converting 'hours' and 'minutes' to numeric type
df_accident['hours'] = pd.to_numeric(df_accident['hours'])
df_accident['minutes'] = pd.to_numeric(df_accident['minutes'])

In [78]:
df_accident

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location,hours,minutes
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,9,0,0,1,3,2,E01004576,9,0
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,1,1,0,0,1,1,2,E01003034,13,55
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,1,2,0,0,1,1,2,E01004726,1,25
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,1,1,0,0,1,1,2,E01003617,1,50
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,1,1,0,0,1,1,2,E01004763,2,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,1,1,0,0,1,1,-1,-1,14,30
91195,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,1,1,0,0,1,2,-1,-1,15,5
91196,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,1,1,0,0,2,1,-1,-1,12,42
91197,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,1,1,0,0,1,2,-1,-1,14,0
91198,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,1,1,0,2,1,1,-1,-1,13,50

### SAVING

#### DataFrames are saving to csv files for Data Analysis

In [80]:
# 'df_accident' to 'accident_data.csv'
df_accident.to_csv('accident_data.csv', index=False)

# 'df_vehicle' to 'vehicle_data.csv'
df_vehicle.to_csv('vehicle_data.csv', index=False)

# 'df_casualty' to 'casualty_data.csv'
df_casualty.to_csv('casualty_data.csv', index=False)

# 'df_lsoa' to 'lsoa_data.csv'
df_lsoa.to_csv('lsoa_data.csv', index=False)